<h1>Edit <%= @place_info['name'] %></h1>

<%= form_tag({controller: 'home', action: 'change_place'}, {method: 'put'}) do %>
  <div class="form-group">
    <%=label_tag(:name, "Place Name:") %>
    <%=text_field_tag :name, @place_info['name'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:street, "Street:") %>
    <%=text_field_tag :street, @place_info['street'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:num, "Number:") %>
    <%= number_field_tag :num, @place_info['num'], min: 0, step: 1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:zip, "Zip code:") %>
    <%=text_field_tag :zip, @place_info['zip'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:city, "City:") %>
    <%=text_field_tag :city, @place_info['city'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:phone, "Phone:") %>
    <%=text_field_tag :phone, @place_info['phone'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%=label_tag(:website, "Phone:") %>
    <%=text_field_tag :website, @place_info['website'], class: "form-control" %>
  </div>
  <% if @place_info['kind'] == 'cafe' %>
    <div class="form-group">
      <%=label_tag(:smoking, "Smoking:") %>
      <%= check_box_tag :smoking, 't', @type_info['smoking'] == 't', class: "checkbox" %>
    </div>
    <div class="form-group">
      <%=label_tag(:snack, "Snack:") %>
      <%= check_box_tag :snack, 't', @type_info['snack'] == 't', class: "checkbox" %>
    </div>
  <% elsif @place_info['kind'] == 'restaurant' %>
    <div class="form-group">
      <%=label_tag(:price_range, "Price range:") %>
      <%=number_field_tag :price_range, @type_info['price_range'], class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag(:banquet, "Places for banquet:") %>
      <%=number_field_tag :banquet, @type_info['banquet'], class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag(:take_out, "Take Away:") %>
      <%= check_box_tag :take_out, 't', @type_info['take_out'] == 't', class: "checkbox" %>
    </div>
    <div class="form-group">
      <%=label_tag(:delivery, "Delivery:") %>
      <%= check_box_tag :delivery, 't', @type_info['delivery'], class: "checkbox" %>
    </div>
  <% else %>
    <div class="form-group">
      <%=label_tag(:num_stars, "Stars:") %>
      <%=number_field_tag :num_stars, @type_info['num_stars'], min:0, max: 5, step:1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag(:num_rooms, "Rooms:") %>
      <%=number_field_tag :num_rooms, @type_info['num_rooms'], min:0, step:1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%=label_tag(:price_range_double_room, "Double room price:") %>
      <%=number_field_tag :price_range_double_room, @type_info['price_range_double_room'], min:0, step:1, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= submit_tag 'Update', class: "btn btn-primary btn-lg" %>&nbsp;&nbsp;&nbsp;
    <%= submit_tag 'Clear Form', :type => 'reset', class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
